{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="Double Bed Suites">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Single Bed Suites</h1>
            <p>
                This is some text. This is some text. This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text. This is some text. This is some text.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>

</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        // notify("This is the success alert", "warning")
        // notifyModal("title", "<em>Hello world</em>", "success", "My text for the button!"); 

        let html = `
          <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="row">
              <div class="col">
                <div class="row" id="resevation-dates-modal">
                  <div class="col">
                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                  </div>
                  <div class="col">
                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                  </div>
                </div>
              </div>
            </div>
          </form>
          `

        attention.custom({ 
          msg: html,
          title: "Choose your dates",
          callback: function (result) {
            console.log("called!")

            fetch('/search-availability-json')
              .then(Response=>Response.json())
              .then(data => {
                console.log(data)
              })
          }
        });
    })


</script>
{{end}}